*{
    padding:0;
    margin:0;
    background-color:#008B8B
;
}
img.grande{
    width: 600px; height: 150px;
    background-color:white;
}

.edit{
    width: 450px; height: 50px;
}


.texti{
    background-color: White;
}
.button{
    color:white;
    border:10px;
    border-radius:25%;
    
}
body {
    background: #f2f2f2;
  }
  
  .navbar .nav-item:not(:last-child) {
    margin-right: 35px;
  }
  
  .dropdown-toggle::after {
     transition: transform 0.15s linear; 
  }
  
  .show.dropdown .dropdown-toggle::after {
    transform: translateY(3px);
  }
  
.content{
    justify-content: space-between;
}
.buttonmen{
    background-color: #026d6d;
    border-radius: 60;
    border: 50px;
}
navbar-bar.colortext{
    background-color: white;
}
